# Ignore files that are not meant to be committed to the repository.

# Ignore environment variable files that contain sensitive information.
.env
.env.local
.env.example

# Ignore build artifacts and dependencies.
.vercel
node_modules
.claude/

# Ignore these
INSTRUCTIONS.md

# Documents
Marjo_Seki_sisallonhallintaohje.docx